.fadeContent {
	transition: all .7s ease-in-out;

	&.ng-enter {
		opacity: 0;

		&.ng-enter-active {
			opacity: 1;
		}
	}

	&.ng-leave {
		position: absolute;
		opacity: 1;

		&.ng-leave-active {
			opacity: 0;
		}
	}
}

