/* app css stylesheet */

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$text: #000000;
$bg: #666666;
$gray: #AAAAAA;
$ltgray: #CCCCCC;
$link: #FF6633;
$linkhover: #6699CC;

html {
	font-size: .625em;
	font-family: Helvetica, Verdana, Arial;
	background: $bg;
	color: $text;
}

body {
	font-family: inherit;
	line-height: 1em;
	font-size: 1.5em;
	background: $bg;
}

a {
	color: $link;
	text-decoration: underline;

	&:visited {
		color: $link;
	}

	&:hover, &:focus, &:active {
		color: $linkhover;
	}
}

p {
	margin-bottom: .8em;
}

h1,h2,h3 {
	font-family: Signika, Helvetica, Verdana, Arial;
	margin: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.4em;
	margin-bottom: .2em;
}

h3 {
	font-size: 1.2em;
	margin-bottom: .2em;
}

ul,ol {
	list-style-position: inside;
	margin: 0 0 1em;

	li {
		margin: 0 0 .4em;
	}

	ul,ol,dl {
		margin: .3em 0 0 1em;
	}

}

dl {
	margin: 0 0 1em;
	@include clearfix();

	dt {
		float: left;
		clear: both;
		width: 25%;
		font-weight: bold;
		margin: 0 0 .5em;
	}

	dd {
		float: right;
		width: 75%;
		margin: 0 0 .5em;
	}
}

.right {
	float: right;
}

.left {
	float: left;
}


img { 
	display: block;
	max-width: 100%;
	height: auto;
	margin: 8px auto;

	&.right {
		margin: 8px 0 8px 8px;
	}

	&.left {
		margin: 8px 8px 8px 0;
	}
}


#header {
	z-index: 100;
	color: #FFFFFF;
	text-align: center;
	padding: 10px 20px;
	background: #000000;
}

#appdiv {
	padding: 20px 0;
}

#boxes {
	
	.box {
		text-align: center;
		padding: 0 10px 10px;

		div {
			padding: 10px 5px;
			background: $ltgray;
			border-radius: 10px;

			&:hover {
				cursor: pointer;
				background: #FFFFFF;
			}
		}
		
		h2 {
			font-size: 1.2em;
			margin: 0 10px;
		}

		img {
			display: block;
			margin: 0 auto 5px;
		}

	}

}


#content {
	position: relative;
	margin: 0 auto;
	padding: 15px;
	background: #FFFFFF;
	border-radius: 20px;

	.closeCategory {
		position: absolute;
		top: -15px;
		right: 15px;

		a {
			display: block;
			font-size: .8em;
			color: #000000;
			font-weight: bold;
			text-decoration: none;
			line-height: 1.4em;
			padding: 3px 15px 4px;
			background: $ltgray;
			@include border-top-radius(5px);

			&:hover, &:focus, &:active {
				background: $gray;
			}
		}
	}
}

ul.resume {

	li {
		font-weight: bold;
		font-size: 1.1em;
		list-style: none outside;
		margin-bottom: 1.2em;
	
		p {
			font-weight: normal;
			font-style: italic;
			margin-top: .3em;
			margin-left: 1em;
			margin-bottom: .4em;
		}

		li {
			font-weight: normal;
			font-size: 1em;
			list-style: disc inside;
			margin: .2em 0 .5em 1em;
		
			li {
				list-style: circle inside;
				margin-bottom: .2em;
			}
		}
	}
}


@import "animation.scss"; 

