.corner {
	float: right;
	text-align: right;
	color: $color-gray;

	div {
		display: inline;

		svg {
			height: 2.5rem;
			fill: $color-gray;
			vertical-align: middle;
			margin-left: 10px;

		}

	}

	a:hover svg {
		fill: $color-blue;
	}

}
