@import "nav";

header {

	height: 130px;
	display: grid;
	grid-template-rows: auto 1fr;
	position: sticky;
	top: 0;
	z-index: 10;
	padding: 0 24px;
	background: $color-black;
	@include transitionAll;

	.nav-open & {
		height: 100vh;
	}

}

.header__details {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-areas: "title name location";
	grid-gap: 36px;
	align-items: end;
	width: 100%;
	font-size: 1.3rem;
	padding-top: 18px;
}

.header__name {
	grid-area: name;
	align-self: center;
	@include font-heading-bold;
	font-size: 3rem;
	text-align: center;
	color: $color-white;
}

.header__title {
	grid-area: title;
	text-align: right;
	padding-bottom: 10px;
	color: $color-gray;
}

.header__location {
	grid-area: location;
	text-align: left;
	padding-bottom: 10px;
	color: $color-gray;
}


