@import "nav";

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: $gray;

	.menuIcon {

		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 80px;
		cursor: pointer;
		border-right: 1px solid $white;
		transition: background .2s linear;

		svg {
			position: absolute;
			top: 25%;
			left: 25%;
			width: 50%;
			fill: $white;
		}

		&.open {

			background: $blue;

		}

	}

	.headerText {
		font-family: $ubuntu;
		line-height: 1.2em;
		padding: 3px 10px 0 90px;
		color: $white;

		.name {
			font-size: 2rem;
			line-height: 1em;
			margin-bottom: -.2rem;
		}

	}

	&.menuOpen {


	}

}
