@import "../../node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize";

@import "colors";
@import "fonts";
@import "text";

@import "header";

html {
	height: 100%;
	background: $white;

	body {

		#content {

			margin: 95px 15px 15px;

		}


	}

	&.noscroll {
		width: calc(100%);
		overflow: hidden;
	}

}
