@import "../../node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize";

@import "colors";
@import "breakpoints";

@import "fonts";
@import "text";

@import "corner";
@import "list";
@import "slides";

@import "header";

@keyframes fadein {
	0% {
		color: $blue;
		opacity: 0;
	}
    100% {
    	color: $black;
    	opacity: 1;
    }
}

html {
	height: 100%;
	background: $white;

	body {

		#content {

			margin: 95px 15px 15px;

			> div {

				animation: fadein .7s;

			}

		}


	}

	&.noscroll {
		width: 100%;
		overflow: hidden;
	}

}
