@import "../../node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize";

@import "mixins";

@import "colors";
@import "breakpoints";

@import "fonts";
@import "text";

@import "corner";
@import "list";
@import "slides";

@import "links";

@import "header";

@keyframes fadein {
	0% {
		color: $color-blue;
		opacity: 0;
	}
    100% {
    	color: $color-black;
    	opacity: 1;
    }
}

html {
	height: 100%;
	background: $color-white;

	body {

		#content {

			padding: 15px;

			> div {

				animation: fadein .7s;

			}

		}


	}

	&.nav-open {
		width: 100%;
		overflow: hidden;
	}

}
