.slideControls {
	clear: both;
	display: flex;
	text-align: center;
	margin: 20px 0;
	border-top: 1px solid $color-ghost;
	border-bottom: 1px solid $color-ghost;

	a {
		flex-grow: 1;
		margin: 0 10px;
		padding: 5px 10px;

		svg {
			height: 25px;
			fill: $color-gray;
			@include transitionAll(.2s);
		}

		&.disabled {
			cursor: not-allowed;

			svg {
				fill: $color-ghost;
			}
		}

		&:hover svg {
			fill: $color-blue;
		}

	}


}

.slide {
	min-height: 300px;
	padding-bottom: 20px;

	.head {
		margin-bottom: 1em;

		.parenthetical {
			font-size: .8rem;
			font-style: italic;
			margin-top: -.5em;
		}

	}

	ul.columnList {

		@include respond-to(xsmall) {
			columns: 2;
		}

		@include respond-to(medium) {
			columns: 3;
		}

		@include respond-to(large) {
			columns: 4;
		}

	}


}
