# html5 pushstate (history) support:
<ifModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !index
	RewriteCond %{REQUEST_URI} !files
	RewriteCond %{REQUEST_URI} !data
	RewriteCond %{REQUEST_URI} !js
	RewriteCond %{REQUEST_URI} !views
	RewriteCond %{REQUEST_URI} !css
	RewriteCond %{REQUEST_URI} !favicon.ico
	RewriteRule (.*) index.html [L]
</ifModule>
